docker-compose/apihub-generic/data/**
docker-compose/apihub-generic/jwt_private_key
docker-compose/with-keycloak/data/**
docker-compose/with-keycloak/jwt_private_key
helm-templates/qubership-apihub/jwt_private_key
helm-templates/qubership-apihub/local-secrets.yaml