qubershipApihubBackend:
  env:
    adminEmail: '${APIHUB_ADMIN_EMAIL}'
    adminPassword: '${APIHUB_ADMIN_PASSWORD}'
    jwtPrivateKey: '${JWT_PRIVATE_KEY}'
qubershipApihub:
  accessToken: '${APIHUB_ACCESS_TOKEN}'
