qubershipApihubBackend:
  env:
    security:
      jwt:
        privateKey: '${JWT_PRIVATE_KEY}'
    zeroDayConfiguration:
      accessToken: '${APIHUB_ACCESS_TOKEN}'
      adminEmail: '${APIHUB_ADMIN_EMAIL}'
      adminPassword: '${APIHUB_ADMIN_PASSWORD}'
qubershipApihubBuildTaskConsumer:
  env:
    accessToken: '${APIHUB_ACCESS_TOKEN}'
