qubershipApihubBackend:
  env:
    adminEmail: '${APIHUB_ADMIN_EMAIL}'
    adminPassword: '${APIHUB_ADMIN_PASSWORD}'
    jwt:
      privateKey: '${JWT_PRIVATE_KEY}'
    auth:
        saml:
          certificate: '${SAML_CRT}'
          privateKey: '${SAML_KEY}'
        oidc:
          clientSecret: '${OIDC_CLIENT_SECRET}'
qubershipApihub:
  accessToken: '${APIHUB_ACCESS_TOKEN}'
