{{- if .Values.qubershipApihubUi.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: qubership-apihub
  annotations:
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-body-size: '0'
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  labels:
    app.kubernetes.io/part-of: qubership-apihub
    app.kubernetes.io/managed-by: helm
spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.qubershipApihubUi.apihubUrl | quote }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: qubership-apihub-ui
            port:
              name: web
{{- end }}